<div class="card">
  <img src="/assets/mainimg.jpg" alt="mainimg">
  <div class="card-img-overlay">
    <p class="text-white pt-2">Let's travel like a local</p>
  </div>
</div>

<div class="about text-center">
  <h1>About travelocal</h1>
  <p>〜「地元の人が暮らすように旅をする」・「地元の人との繋がりを楽しみながら旅をする」〜</p>
  <p>旅をした地で、ガイドブックに載っているお店ではなく、<br><span class="border-bottom border-3 border-dark">地元の人が行くお店で、地元の人が食べるもの</span>を、体験してほしい！という想いを込めたサイトです。</p>
  <p>・地元の方は、旅人のために、自分が普段行くお店を紹介し、活性化に繋げて欲しい！</p>
  <p>・旅をする方は、地元の方の投稿を見て、ぜひそのお店でローカルな雰囲気・文化を感じて欲しい！</p>
  <p class="text-info">地元の人々との繋がりは貴方の旅にスパイスを与えます。</p>
  
</div>  