<div class="card">
  <img src="/assets/mainimg.jpg", alt="mainimg">
  <div class="card-img-overlay">
    <p class="text-white pt-2">Let's travel like a local</p>
  </div>
</div>

<div>
  <h1 class="text-center mt-3 pb-3 border-bottom">ALL POSTS</h1>
  <%= render "posts/index" %>
</div>