<div>
  <div class="card-title">
    <h1><%= @user.name %></h1>
  </div>  
  <div class="card-body">
    <ul>
      <li><%= @user.birthday %></li>
      <li><%= @user.city %></li>
    </ul>
  </div>
    
</div>

<div>
  <!-- "POSTS -->
</div>