<div class="container bg-light">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><%= link_to "Travelocalについて", about_path, class:"text-muted" %></li>
    </ul>
    <p class="text-center text-muted">Travelocalは”暮らすように旅する”をコンセプトに、<br>地元の人と旅人が繋がれるサイトです。</p>
  </footer>
</div>